body {
	font-family: 'Helvetica Neue';
	margin: 0;
	background-color: #3E7AAB;
}

.container {
	margin: 0 auto 0 auto;
	width: 60em;
	padding: 1em 3em 1em 3em;
	background-color: White;
}

.error {
	display: none;
	color: red;
	font-size: 0.75em;
}

.input-line {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

.result  {
	font-size: 1.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#simulation-results {
	margin: 1em auto 1em auto;
}

#acMonthlyLineChart {
	width: 100%;
	height: 400px;
}

#save-sim {
	display: none;
}

#oversized {
	color: red;
}

#saved {
	display: none;
}

#loaded-sims{
	margin: 1em auto 1em auto;
}
button {
	width: 15em;
}

input[type=submit] {
	width: 15em;
}

table {
	width: 100%;
}

table td {
	font-size: 0.9em;
	vertical-align: text-top;
}

table,
table tr,
table th,
table td {
	border: 1px solid silver;
	border-collapse: collapse;
}

table th,
table td {
	padding: 0.5em 0.75em;
}

table th {
	text-align: center;
}

table thead {
	background-color: #E9E9E9;
}

table tbody tr:nth-child(odd) {
	background-color: #FBFBFB;
}

table tbody tr:nth-child(even) {
	background-color: #F5F5F5;
}